.cabecera {
    display: flex; /* los elementos se ubican uno al lado del otro */
    align-items: center; /* se centran los elementos verticalmente */
    background: #f9f9f9; /* asigno color solo a la barra de navegacion */
    padding: 0 2rem; /* separo items de los bordes laterales izq y der */

}