.recipes__img {
    border-radius: 15px 15px 0 0;
    flex-wrap: wrap;
}

@media screen and (max-width:375px) {
    .recipes__img{
        width: 100%;

    }
}

@media screen and (max-width:768px) {
    .recipes__img{
        width: 100%;

    }
}

@media screen and (max-width:992px) {
    .recipes__img{
        width: 100%;

    }
}