.recipes__cards {
    background: #fdfdfd;
    display: flex; /* se alinea el texto al lado de las imagenes, todas con un mismo tamaño */
    flex-direction: column; /* se alinean los textos debajo de las imagenes, todo queda con el mismo tamaño. */
    margin: 2rem auto; /* en y, en x */
    width: 30%; /* asigno un porcentaje para que quepan 3 cards por línea */
    border-radius: 1rem; /* para las cards */
    flex-wrap: wrap;
}

@media screen and (max-width:375px) {
    .recipes__cards {
        width: 100%;
        
    }
}

@media screen and (max-width:768px) {
    .recipes__cards {
        width: 100%;
    }
}

@media screen and (max-width:992px) {
    .recipes__cards {
        width: 100%;
        padding: 1rem;
        
    }
}
